.standard{
    font-family: Verdana, "DejaVU", sans-serif;
    background-color: lightcoral;
}

.large-font {
    font-size: 24px;
}

#blue-text {
    color: blue;
    font-size: 36px;
}

#green-bg {
    background-color: greenyellow;
    font-weight: bold;
}